
<%= erb :header %>

<div class="container">
    <h2>Edit Match</h2>
    <form action="" method="POST">
        <label>Name</label>
        <input type="text" name="name" disabled required value="<%= @match.name %>" />

        <label>Team Number</label>
        <input type="number" min=1 max=9999 name="team_number" required value="<%= @match.team_number %>" />

        <label>Match Number</label>
        <input type="number" min=1 max=200 name="match_number" required value="<%= @match.match_number %>" />

        <br>

        <h3>Autonomous</h3>
    
        <label>Drove off of tarmac?</label>
        <select name="taxi" required>
            <option value="Yes" <% if @match.taxi == "Yes" %> selected<% end %> >Yes</option>
            <option value="No" <% if @match.taxi == "No" %> selected<% end %> >No</option>
         </select>

        <br>
        
        <!-- Auton Scoring -->
        <label>Lower Hub</label>
        <input type="number" min=0 max=99 name="auton_lower" value="<%= @match.auton_lower %>" />

        <label>Upper Hub</label>
        <input type="number" min=0 max=99 name="auton_upper" value="<%= @match.auton_upper %>" />

        <label>Misses</label>
        <input type="number" min=0 max=99 name="auton_misses" value="<%= @match.auton_misses %>" />

        <br>

        <h3>Tele Op</h3>
        <label>Bottom Port</label>
        <input type="number" min=0 max=99 name="tele_lower" value="<%= @match.tele_lower %>" />

        <label>Top Port</label>
        <input type="number" min=0 max=99 name="tele_upper" value="<%= @match.tele_upper %>" />

        <label>Misses</label>
        <input type="number" min=0 max=99 name="tele_misses" value="<%= @match.tele_misses %>" />

        <label>Dropped Balls</label>
        <input type="number" min=0 max=99 name="dropped_balls" value="<%= @match.dropped_balls %>" />

        <label>Primary Shooting Position</label>
        <select name="shooting_spot" required>
            <option value="N/A" <% if @match.shooting_spot == "N/A" %> selected<% end %> >Don&#39;t shoot</option>
            <option value="hub wall" <% if @match.shooting_spot == "hub wall" %> selected<% end %> >Against Hub</option>
            <option value="tarmac" <% if @match.shooting_spot == "tarmac" %> selected<% end %> >On Tarmac</option>
            <option value="against side walls" <% if @match.shooting_spot == "against side walls" %> selected<% end %> >Against Side Walls</option>
            <option value="everywhere" <% if @match.shooting_spot == "everywhere" %> selected<% end %> >Everywhere</option>
        </select>        

        <br>

        <h3>Endgame</h3>
        <label>Climb</label>
        <select name="hangar" required>
            <option value="None" <% if @match.hangar == "None" %> selected<% end %>  >No climb</option>
            <option value="Low" <% if @match.hangar == "Low" %> selected<% end %> >Low</option>
            <option value="Mid" <% if @match.hangar == "Mid" %> selected<% end %> >Mid</option>
            <option value="High" <% if @match.hangar == "High" %> selected<% end %> >High</option>
            <option value="Traverse" <% if @match.hangar == "Traverse" %> selected<% end %> >Traverse</option>
        </select>

        <label>Result</label>
        <select name="result" required>
            <option value="win" <% if @match.result == "win" %> selected<% end %>>Win</option>
            <option value="lose" <% if @match.result == "lose" %> selected<% end %>>Lose</option>
            <option value="tie" <% if @match.result == "tie" %> selected<% end %>>Tie</option>
        </select>

        <label>Score</label>
        <table class="table table-condensed table-bordered" style="width: auto;">
            <tr>
                <th><b>Own Score:</b></th>
                <td><input type="number" min=0 max=999 style="width:5em" name="own_score" value="<%= @match.own_score %>" required /></td>
            </tr>
            <tr>
                <th><b>Opp Score:</b></th>
                <td><input type="number" min=0 max=999 style="width:5em" name="opp_score" value="<%= @match.opp_score %>" required /></td>
            </tr>
        </table>

        <label>Ranking Points</label>
        <select name="ranking_points" required>
            <option value="0" <% if @match.ranking_points == 0 %> selected<% end %>>0</option>
            <option value="1" <% if @match.ranking_points == 1 %> selected<% end %>>1</option>
            <option value="2" <% if @match.ranking_points == 2 %> selected<% end %>>2</option>
            <option value="3" <% if @match.ranking_points == 3 %> selected<% end %>>3</option>
            <option value="4" <% if @match.ranking_points == 4 %> selected<% end %>>4</option>
        </select>

        <br>

        <h3>Miscellaneous</h3>
        <fieldset>
            <label>Cargo Intake</label>
            <div>
                <p><input type="checkbox" id="ball_station" name="ball_pickup[]" value="Loading Station" <% if @match.ball_pickup.include?("Loading Station") %> checked="checked"<% end %>> Human Player Station</p>
            </div>
            <div>
                <p><input type="checkbox" id="ball_ground" name="ball_pickup[]" value="Ground" <% if @match.ball_pickup.include?("Ground") %> checked="checked"<% end %>> Ground Pickup</p>
            </div>
        </fieldset>   

        <label>Ball Capacity</label>
        <input type="number" min=0 max=2 style="width:5em" name="ball_capacity" value="<%= @match.ball_capacity %>" required />



        <label>Driver Skill</label>
        <select name="driver_skill" required>
            <option value="Amazing" <% if @match.driver_skill == "Amazing" %> selected<% end %>>Amazing</option>
            <option value="Good" <% if @match.driver_skill == "Good" %> selected<% end %>>Good</option>
            <option value="Fair" <% if @match.driver_skill == "Fair" %> selected<% end %>>Fair</option>
            <option value="Poor" <% if @match.driver_skill == "Poor" %> selected<% end %>>Poor</option>
        </select>   

        <label>Played Defense</label>
        <textarea name="played_defense" rows="4" required><%= @match.played_defense %></textarea>

        <label>Fouls</label>
        <textarea name="fouls" rows="4"><%= @match.fouls %></textarea>

        <label>Notes</label>
        <textarea name="notes" rows="4"><%= @match.notes %></textarea>

        <br><br>
        <input type=hidden name="comp_id" value="<%= @match.comp_id %>">

        <label><input type="submit" class="btn btn-success btn-large" value="Save Info"></label>
    </form>      
</div>

<%= erb :footer %>

