<%= erb :header %>

<div class="container">
    <h3><b>Team <%= @team.number %> Stats (<a href="/competitions/<%= @competition.id %>"><%= @competition.name %> - <%= @competition.year %></a>)</b></h3>

    <% if @match_sort.to_s == "match_number" %>
        <%= erb :data_list, :locals => { :matches => Match.where([[:comp_id, @competition.id], [:team_number, @team.number]]).order(Sequel.asc(@match_sort)) } %>
    <% else %>
        <%= erb :data_list, :locals => { :matches => Match.where([[:comp_id, @competition.id], [:team_number, @team.number]]).order(Sequel.desc(@match_sort)) } %>
    <% end %>

    <!-- Pit Scouting Data -->

    <% if Pit_Scouting.where(:team_number => @team.number).all.length == 0 %>
        <h4 style="margin-top: -175px">No pit scouting data found.</h4>
    <% else %>
        <h4 style="margin-top: -175px">Pit Scouting Data</h4>

        <div class="container">
            <table class="table table-condensed table-bordered">
                <% Pit_Scouting.where([[:comp_id, @competition.id], [:team_number, @team.number]]).each do |scout| %>
                    <% Pit_Scouting.columns[2..-1].each.with_index do |col, index| %>
                        <tr>
                            <th style="width: 15%;"><%= col.to_s.gsub('_', '&nbsp;').split.map(&:capitalize).join(' ') %></th>
                            <% Pit_Scouting.select(col).where(:id => scout.id).each do |val| %>
                                <% val.each do |data| %>
                                    <% Pit_Scouting.select(data.first).where(:id => scout.id).each do |v| %>
                                        <td style="width: 85%;"><%= v[data.first].to_s.gsub(' ', '&nbsp;') %></td>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </tr>
                    <% end %>
                <% end %>
            </table>
        </div> 

        <img style="margin-bottom: 20px;" src="/robots/<%= @team.number %>_<%= @competition.id %>" alt="Picture of robot for team <%= @team.number %>" />

        <form action="/change_picture" method="POST" id="myForm" enctype="multipart/form-data">
            <label>Change Picture of Robot</label>
            <input type="file" name="file" accept="image/*" required>
            <input type=hidden name="comp_id" value="<%= @competition.id %>">
            <input type=hidden name="team_number" value="<%= @team.number %>">
            <label><input type="submit" class="btn btn-success btn-med" value="Change Picture"></label>
        </form>
    <% end %>

    <!-- Show other competitions the team was at -->
    <% # DB[:competitions].select_map(:name).where(each do |comp| %>
</div>

<%= erb :footer %>
